
.notes {
  padding: 5px 0 33px !important;
  background: rgba(255, 255, 255, 0.1);
}

.reveal .notes ul {
  margin: 0 1.9em 0.1em;
}

.notes .pencil {
  text-align: right;
  width: 96%;
  font-size: 1.5em;
}

.afternotes {
  padding-top: 10px !important;
}

